.navbar {
    background-color: #b2f1ed;
    width: 100%;
    min-height: 10vh;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap:center;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    top: 0;
}

.navbarLogo{
    justify-self: center;
    width: 100px;
    height: 90px;
}
